<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Practice</title>
    <style>
      ul {
        list-style-type: none;
      }
      a {
        text-decoration: none;
        color: #ff86f7;
      }
      li {
        margin-bottom: 8px;
        font-size: 20px;
      }
    </style>
  </head>
  <body>
    <ul>
      <li>Top1: <a href="https://www.bing.cn" target="_blank">必应</a></li>
      <li>Top2:</li>
      <li>Top3:</li>
      <li>Top4:</li>
      <li>Top5:</li>
    </ul>
  </body>
</html>
